<!-- <app-component-understanding></app-component-understanding> -->
<!-- <app-component-lifecycle></app-component-lifecycle> -->
<!-- <app-view-encapsulation></app-view-encapsulation> -->
<!-- <app-interpolation></app-interpolation> -->
<!-- <app-component-interaction></app-component-interaction> -->
<!-- <app-component-style></app-component-style> -->
<!-- <app-dynamic-components-loading></app-dynamic-components-loading> -->
<!-- <app-pipe-example></app-pipe-example> -->
<!-- <app-property-binding></app-property-binding> -->
<!-- <app-attr-class-style-binding></app-attr-class-style-binding> -->
<!-- <app-two-way-binding></app-two-way-binding> -->
<!-- <app-template-ref-var></app-template-ref-var> -->
<!-- <app-svg-as-template></app-svg-as-template> -->
<!-- <app-build-in-directives></app-build-in-directives> -->
<!-- <app-attribute-directive></app-attribute-directive> -->
<app-structural-directive-example></app-structural-directive-example>
